In [16]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('warehouse.csv', delimiter=',')
df2 = pd.read_csv('slave.csv', delimiter=',')

In [17]:
columns = ['user_id', 
           'transaction_id',
           'game_id',
           'product_name',
           'product_id',
           'event_id', 
           'draw_datetime', 
           'jackpot', 
           'month', 
           'bet_month', 
           'ticket', 
           'entry_price', 
           'winnings', 
           'insurance_per_ticket', 
           'insurance', 
           'a'
           ]
df2.columns = columns
df1.columns = columns

In [18]:
df2.head()

,user_id,transaction_id,game_id,product_name,product_id,event_id,draw_datetime,jackpot,month,bet_month,ticket,entry_price,winnings,insurance_per_ticket,insurance,a
0,249735,32907648,135,SuperCash,137,16633730,2018-05-25 00:00:04+02,0,2018-05-01 00:00:00+02,2018-05,1,5.0,0.0,0.0635430673941585,0.0635430673941585,0
1,39871,32907649,96,Holiday,98,16633732,2018-05-25 00:00:06+02,0,2018-05-01 00:00:00+02,2018-05,1,3.0,3.5,\N,\N,0
2,25585,32907650,102,Lucky Llama,104,16633729,2018-05-25 00:00:02+02,0,2018-05-01 00:00:00+02,2018-05,1,3.0,0.0,\N,\N,0
3,296885,32907651,95,Golf,97,16633731,2018-05-25 00:00:06+02,0,2018-05-01 00:00:00+02,2018-05,1,2.0,0.0,\N,\N,0
4,258938,32907653,100,Bike,102,16633734,2018-05-25 00:00:10+02,0,2018-05-01 00:00:00+02,2018-05,1,1.5,0.0,0,0,0

In [19]:
df1[df1['a'].isin(df2['a'])].head()

,user_id,transaction_id,game_id,product_name,product_id,event_id,draw_datetime,jackpot,month,bet_month,ticket,entry_price,winnings,insurance_per_ticket,insurance,a
0,249735,32907648,135,SuperCash,137,16633730,2018-05-25 00:00:04+02,0,2018-05-01 00:00:00+02,2018-05,1,5.0,0.0,0.0635430673941585,0.0635430673941585,0
1,39871,32907649,96,Holiday,98,16633732,2018-05-25 00:00:06+02,0,2018-05-01 00:00:00+02,2018-05,1,3.0,3.5,\N,\N,0
2,25585,32907650,102,Lucky Llama,104,16633729,2018-05-25 00:00:02+02,0,2018-05-01 00:00:00+02,2018-05,1,3.0,0.0,\N,\N,0
3,296885,32907651,95,Golf,97,16633731,2018-05-25 00:00:06+02,0,2018-05-01 00:00:00+02,2018-05,1,2.0,0.0,\N,\N,0
4,258938,32907653,100,Bike,102,16633734,2018-05-25 00:00:10+02,0,2018-05-01 00:00:00+02,2018-05,1,1.5,0.0,0,0,0

Find rows in df2 that is missing from df1 , where df1 column = 'b'

In [19]:
df2[~df2['transaction_id'].isin(df1['transaction_id'])]

,user_id,transaction_id,game_id,product_name,product_id,event_id,draw_datetime,jackpot,month,bet_month,ticket,entry_price,winnings,insurance_per_ticket,insurance,a
69,216557,32907720,14,Set for Life Lotto,14,2240423,2018-05-31 13:00:00+02,167000000,2018-05-01 00:00:00+02,2018-05,1,5.0,0.0,0.176578973013665,0.176578973013665,0
2710,301148,32910384,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,12.5,0.0,1.13074985577135,1.13074985577135,0
7294,301147,32914886,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,23.0,0.0,2.06018422432107,2.06018422432107,50000000
7613,73977,32915239,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,23.0,0.0,2.06018422432107,2.06018422432107,50000000
8691,90067,32916323,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,23.0,0.0,2.06018422432107,2.06018422432107,50000000
10436,271569,32918076,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,2,67.0,0.0,3.91905296142053,7.83810592284105,150000000
11424,235530,32919059,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,2,46.0,300.0,2.06018422432107,4.12036844864215,50000000
12590,289584,32920265,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,12.5,0.0,1.13074985577135,1.13074985577135,0
12670,84626,32920351,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,12.5,0.0,1.13074985577135,1.13074985577135,0
13382,245510,32921186,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,10,230.0,300.0,2.06018422432107,20.6018422432107,50000000
13407,286621,32921215,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,23.0,0.0,2.06018422432107,2.06018422432107,50000000
15659,54925,32923650,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,23.0,0.0,2.06018422432107,2.06018422432107,50000000
16927,294461,32925005,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,23.0,0.0,2.06018422432107,2.06018422432107,50000000
17276,39869,32925383,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,23.0,0.0,2.06018422432107,2.06018422432107,50000000
17329,82417,32925446,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,12.5,0.0,1.13074985577135,1.13074985577135,0
17331,247736,32925448,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,12.5,0.0,1.13074985577135,1.13074985577135,0
18233,26468,32926483,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,12.5,0.0,1.13074985577135,1.13074985577135,0
18392,283378,32926654,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,23.0,0.0,2.06018422432107,2.06018422432107,50000000
19442,300578,32927752,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,23.0,0.0,2.06018422432107,2.06018422432107,50000000
20122,292162,32928463,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,23.0,60.0,2.06018422432107,2.06018422432107,50000000
22853,221893,32931430,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,2,46.0,0.0,2.06018422432107,4.12036844864215,50000000
23072,245796,32931648,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,12.5,0.0,1.13074985577135,1.13074985577135,0
23121,295607,32931708,29,Africa Millions,31,2240438,2018-05-30 21:30:00+02,824000000,2018-05-01 00:00:00+02,2018-05,1,7.5,0.0,0.267472388489939,0.267472388489939,0
23434,289866,32932029,14,Set for Life Lotto,14,2240423,2018-05-31 13:00:00+02,167000000,2018-05-01 00:00:00+02,2018-05,2,10.0,0.0,0.176578973013665,0.35315794602733,0
24457,43398,32933152,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,3,37.5,0.0,1.13074985577135,3.39224956731405,0
24871,283194,32933588,63,MegaCash Plus,65,16652813,2018-05-25 09:45:06+02,0,2018-05-01 00:00:00+02,2018-05,1,1.0,0.0,\N,\N,0
25651,85642,32934405,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,23.0,0.0,2.06018422432107,2.06018422432107,50000000
26587,301694,32935343,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,23.0,0.0,2.06018422432107,2.06018422432107,50000000
26830,84427,32935595,94,Hilux,96,16654180,2018-05-25 10:00:02+02,0,2018-05-01 00:00:00+02,2018-05,1,2.0,2.5,\N,\N,0
28627,45774,32937504,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,12.5,0.0,1.13074985577135,1.13074985577135,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216429,254128,33134685,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,23.0,100.0,2.06018422432107,2.06018422432107,50000000
218150,2524,33136517,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,2,25.0,0.0,1.13074985577135,2.2614997115427,0
220765,49680,33139214,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,23.0,0.0,2.06018422432107,2.06018422432107,50000000
221440,62355,33139871,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,4,50.0,0.0,1.13074985577135,4.52299942308539,0
221809,30499,33140274,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,23.0,60.0,2.06018422432107,2.06018422432107,50000000
222194,288676,33140649,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,12.5,0.0,1.13074985577135,1.13074985577135,0
224569,261362,33143226,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,2,25.0,0.0,1.13074985577135,2.2614997115427,0
224845,283866,33143504,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,33.5,0.0,3.91905296142053,3.91905296142053,150000000
224885,247406,33143547,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,12.5,0.0,1.13074985577135,1.13074985577135,0
227049,64545,33145855,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,33.5,0.0,3.91905296142053,3.91905296142053,150000000
228808,50503,33147702,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,2,46.0,0.0,2.06018422432107,4.12036844864215,50000000
230035,92171,33149006,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,12.5,0.0,1.13074985577135,1.13074985577135,0
231014,64679,33150027,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,33.5,0.0,3.91905296142053,3.91905296142053,150000000
231081,110250,33150098,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,23.0,0.0,2.06018422432107,2.06018422432107,50000000
233062,41488,33152094,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,23.0,0.0,2.06018422432107,2.06018422432107,50000000
239603,294971,33158964,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,1,23.0,0.0,2.06018422432107,2.06018422432107,50000000
240401,270818,33159749,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,2,25.0,0.0,1.13074985577135,2.2614997115427,0
352614,303852,33276936,101,Krugerrand,103,16899036,2018-05-28 08:30:38+02,0,2018-05-01 00:00:00+02,2018-05,1,2.0,0.0,0,0,0
352615,206986,33276937,62,MegaCash,64,16899035,2018-05-28 08:30:24+02,0,2018-05-01 00:00:00+02,2018-05,1,5.0,0.0,\N,\N,2000000
360298,53613,33285366,7,Kino 15,7,14915732,2018-05-28 09:50:00+02,200000,2018-05-01 00:00:00+02,2018-05,9,9.0,12.0,5.88537404919768e-05,0.000529683664427791,0
381791,36291,33308846,102,Lucky Llama,104,16920221,2018-05-28 12:30:08+02,0,2018-05-01 00:00:00+02,2018-05,1,3.0,0.0,\N,\N,0
414296,254821,33344136,12,Kino 14,12,14916114,2018-05-28 16:05:00+02,200000,2018-05-01 00:00:00+02,2018-05,7,7.0,4.0,7.91569960611849e-05,0.000554098972428294,0
433122,46613,33363929,13,Kino 10,13,14916824,2018-05-28 19:35:00+02,30000,2018-05-01 00:00:00+02,2018-05,20,20.0,9.0,0.047802359344898,0.95604718689796,0
443379,17879,33374929,14,Set for Life Lotto,14,2240421,2018-05-29 13:00:00+02,530000000,2018-05-01 00:00:00+02,2018-05,24,120.0,80.0,0.234474241273391,5.62738179056138,0
443380,17879,33374929,16,Oz Powerball,16,2240430,2018-05-31 11:45:00+02,50000000,2018-05-01 00:00:00+02,2018-05,8,100.0,0.0,1.13074985577135,9.04599884617079,0
443381,17879,33374929,15,OZ Lotto,15,2240432,2018-05-29 11:30:00+02,74000000,2018-05-01 00:00:00+02,2018-05,4,30.0,0.0,0.109123687687852,0.436494750751409,0
443382,17879,33374929,11,Mega Millions,11,2240433,2018-05-29 23:30:00+02,84000000,2018-05-01 00:00:00+02,2018-05,12,60.0,0.0,1.14616079172581,13.7539295007097,0
445349,22418,33376961,4,Kino 12,4,14916526,2018-05-28 21:20:00+02,150000,2018-05-01 00:00:00+02,2018-05,273,273.0,200.0,0.00436999175855101,1.19300775008443,0
445383,254731,33376997,102,Lucky Llama,104,16966964,2018-05-28 21:15:06+02,0,2018-05-01 00:00:00+02,2018-05,1,3.0,0.0,\N,\N,0
445384,211075,33376998,94,Hilux,96,16966965,2018-05-28 21:15:08+02,0,2018-05-01 00:00:00+02,2018-05,1,2.0,4.0,\N,\N,0

conditions = [(df1['a'] == df2['a']),(df1['b'] == df2['b'])]

In [10]:
df1[(df1['transaction_id'] == 32920924)]

Empty DataFrame
Columns: [user_id, transaction_id, game_id, product_name, product_id, event_id, draw_datetime, jackpot, month, bet_month, ticket, entry_price, winnings, insurance_per_ticket, insurance, a]
Index: []

In [11]:
df2[(df2['transaction_id'] == 32920924)]

,user_id,transaction_id,game_id,product_name,product_id,event_id,draw_datetime,jackpot,month,bet_month,ticket,entry_price,winnings,insurance_per_ticket,insurance,a
13141,298429,32920924,102,Lucky Llama,104,16644727,2018-05-25 08:14:58+02,0,2018-05-01 00:00:00+02,2018-05,1,3.0,5.0,\N,\N,0